* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Verdana, sans-serif !important;
}
.section-1 {
    background: url('images/architect.jpg') fixed center;
    height: 100vh;
}
.navigation {
    background-color: rgb(248, 248, 248);
    position: fixed;
    z-index: 1;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}
.logo {
    padding: 15px;
    letter-spacing: 3px;
}
.navbar-nav .nav-link:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.navbar-expand-lg {
    justify-content: flex-end;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    letter-spacing: 3px;
}
.section-2, .section-3, .section-4{
    padding-top: 2em;
}
.heading {
    color: #f1eaea;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 60vh;
    font-size: 1em;
}
.sub-heading {
    margin: 1.2em 0;
}
.brand-name {
    font-size: 1em;
    padding: 0.1em 0.4em;
    background-color: rgba(0, 0, 0, 0.6);
}
.hide{
    font-size: 1em;
}
.images {
    margin-top: 1.2em;
    position: relative;
}
.images img {
    width: 100%;
}
.text-overlay {
    position: absolute;
    top: 0px;
    background-color: rgb(26, 25, 25);
    color: rgb(233, 227, 227);
    padding: 0.5em 1em;
}
.btn {
    background-color: #f1f1f1;
    border-radius: 0;
}
.btn:hover {
    background-color: #d6d4d4;
    border-radius: 0;
}
.card {
    border: none;
}
.card img{
    filter: grayscale(70%);
}
.card-body {
    padding: 0.6em;
}
.card-text {
    font-size: 0.9em;
}
.text-fade {
    opacity: 0.6;
    padding-top: 0.3em;
}
input {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.3em;
}
.submit-btn {
    padding: 8px 18px;
    color: rgb(241, 239, 239);
    background-color: rgb(14, 13, 13);
    border: none;
    font-size: 0.9em;
    margin-top: 1em;
}
.submit-btn:hover {
    background-color: rgb(212, 204, 204);
    color: rgb(14, 13, 13);
}
.map-img img {
    width: 100%;
    padding: 2em 1.5em 0 1.5em;
}
footer {
    margin-top: 0.8em;
    background-color: rgb(19, 18, 18);
    color: rgb(231, 225, 225);
    display: flex;
    justify-content: center;
}
.footer-text {
    margin: 2em 0;
}
footer a {
    color: rgb(241, 239, 239);
}

@media only screen and (min-width: 320px) and (max-width:500px) {
    .logo{
        text-align: center;
    }
    .navbar{
        display: none;
    }
    .brand-name{
        font-size: 1.5em;
    }
    .hide{
        display: none;
    }
    .section-1{
        height: 50vh;
    }
    .heading{
        height: 30vh;
        color: rgb(22, 21, 21);
    }
    .images{
        text-align: center;
    }
    .images img{
        width: 90%;
    }
    .text-overlay{
        left: 17px;
    }
    .section-2, .section-3, .section-4 {
        padding-top: 1em;
    }
    .sub-heading{
        margin: 0.6em 0;
    }
    p{
        font-size: 0.8em;
    }
    .card{
        padding-top: 1em;
    }
    .card img{
        width: 90%;
        margin: auto;
    }
    .card-text{
        font-size: 0.8em;
    }
    .map-img img{
        padding: 1em 0.5em 0 0.5em;
    }
    footer{
        margin-top: 0.6em;
    }
    .footer-text{
        margin: 1em 0;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .navbar-nav{
        flex-direction: row;
    }
    .section-1{
        height: 35vh;
    }
    .heading{
        height: 23vh;
        color: rgb(22, 21, 21);
        font-size: 1em;
    }
    .brand-name{
        font-size: 1.2em;
    }
    .hide{
        /* display: none; */
        font-size: 0.9em;
    }
    .card-body{
        padding: 0.4em;
    }
    .card-text{
        font-size: 0.75em;
    }
    p{
        font-size: 0.8em;
    }
}